div{
    background-color: rgb(43, 114, 94);
    padding: 10px;
    margin: 10px auto;
    width: 40%;
    text-align: center;
    color: rgb(231, 233, 236);
    font-weight: 800;
}
#input{
    background-color: #fff;
    width:90%;
    height: 150px;
    resize: none;
}
#input:focus{
    outline: none;
    box-shadow: 1px 1px 30px 1px rgba(5, 9, 6, 0.881);
    transition-delay: .1s;
    transition-duration: .5s;
}
.preview{
    text-align: left;
    text-indent: 8px;
    color: #fff;
    font-size: 25px;
    background: rgb(43, 114, 94);
}
.hidden{
    display: none;
}
@media screen and (max-width:400px){
div{
    width: 95%;
}
}